# ================================
# Environment / Secrets
# ================================

.env
.env.*
!.env.example


# ================================
# Java / Spring Boot
# ================================

target/


# ================================
# Node / React / Vite
# ================================

node_modules/
dist/


# ================================
# IDE
# ================================

.idea/
*.iml


# ================================
# Logs
# ================================

*.log


# ================================
# Spring Boot local configuration
# ================================

email-writer-sb/src/main/resources/application.properties